fastapi
uvicorn[standard]
gunicorn
langchain
langchain-classic
langgraph
langchain_google_genai
langchain_community
python-dotenv
python-multipart
tavily-python
langchain-tavily
sqlalchemy
asyncpg
greenlet
celery
redis